
<ion-content [fullscreen]="true" class="bglogo">
  <ion-card class="cardheader">
    <ion-label class="word">CATEGORY</ion-label>
  </ion-card>
  <img src="../../assets/img/vector-concept-girls-eat-healthy-food_108061-1262-removebg-preview.png">


<ion-card class="container" >
<ion-button>Breakfast</ion-button>
<ion-button>Lunch</ion-button>
<ion-button>Dinner</ion-button>
<ion-button></ion-button>
<ion-button></ion-button>
<ion-button></ion-button>
</ion-card>




</ion-content>
