// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@font-face {
    font-family: 'lalezar';
    src: url('../assets/fonts/Lalezar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'msyh';
    src: url('../assets/fonts/chinese.msyh.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'sofadi';
    src: url('../assets/fonts/sofadiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
 