<ion-content class="bglogo">
  <div class="container">
   
    
    <div class="header">
      <h1>WELCOME TO</h1>
      <h2>SCHEDIET</h2>
      
    
      <img src="../../../assets/img/1st.png" alt="logo" class="header-image">
    </div>
 
   
    <ion-button fill="clear" class="button">
      <img src="../../../assets/img/task.png" alt="Tasks" class="button-icon"> 
      TASKS
    </ion-button>

    
    <ion-button fill="clear" class="button" (click)="tofoodpedia()">
      <img src="../../../assets/img/503.png" alt="Foodpedia" class="button-icon"> 
      FOODPEDIA
    </ion-button>
  </div>
</ion-content>


